<h1>Edit Comment</h1>

<%= form_with(model: [@article, @comment], local: true) do |form| %>
  
  <div>
    <%= form.label :author%>
    <%= form.text_field :commenter%>
  </div>

  <div>
    <%= form.label :comment %>
    <%= form.text_area :body%>
  </div>

  <div>
    <%= form.submit "Update Comment"%>
    <%= link_to 'Cancel', article_path(@article)%>
  </div>
<% end %>
